* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz.kaz.lexc -text
/apertium-kaz.kaz.rlx -text
/apertium-kaz.kaz.twol -text
/apertium-kaz.pc.in -text
/autogen.sh -text
/configure.ac -text
dev/apertium-tt-kk.kk.twol -text
dev/countstems.sh -text
dev/editdist.py -text
dev/numerals/Makefile -text
dev/numerals/collective.yaml -text
dev/numerals/numerals.lexc -text
dev/numerals/numerals.twol -text
dev/numerals/numerals.txt -text
dev/numerals/numerals.yaml -text
dev/numerals/percents.yaml -text
eval/Makefile -text
eval/evaluate-morph.py -text
eval/ref.1000.txt -text
eval/src.1000.txt -text svneol=unset#application/octet-stream
/modes.xml -text
/qa.sh -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
tests/cg/corpus.kaz.disambiguated.txt -text
tests/morphophonology/epentheticV.yaml -text
tests/morphophonology/gk.yaml -text
tests/morphophonology/miscphon.yaml -text
tests/morphophonology/pxcompounds.yaml -text
tests/morphophonology/ui.yaml -text
tests/morphotactics/A1.txt.gz -text svneol=unset#unset
tests/morphotactics/Makefile -text
tests/morphotactics/N1.txt.gz -text svneol=unset#unset
tests/morphotactics/README -text
tests/morphotactics/V-TV-IR.txt.gz -text svneol=unset#unset
tests/morphotactics/prefixes/A1.prefix.dix -text
tests/morphotactics/prefixes/N1.prefix.dix -text
tests/morphotactics/prefixes/V-TV-IR.prefix.dix -text
