* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-0.5.pc.in -text
/apertium-kaz.kaz.lexc -text
/apertium-kaz.kaz.rlx -text
/apertium-kaz.kaz.twol -text
/autogen.sh -text
/configure.ac -text
dev/apertium-tt-kk.kk.twol -text
dev/apertium-tt-kk.tt-kk.dix -text
/modes.xml -text
