* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Jenkinsfile -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz.guesser.twol -text
/apertium-kaz.kaz.lexc -text
/apertium-kaz.kaz.mtx -text
/apertium-kaz.kaz.rlx -text
/apertium-kaz.kaz.tsx -text
/apertium-kaz.kaz.twol -text
/apertium-kaz.pc.in -text
/apertium-kaz.post-kaz.dix -text
/autogen.sh -text
/configure.ac -text
dev/2016-diff -text
dev/Pending_tests.html -text
dev/Regression_tests.html -text
dev/apertium-tt-kk.kk.twol -text
dev/countstems.sh -text
dev/editdist.py -text
dev/numerals/Makefile -text
dev/numerals/collective.yaml -text
dev/numerals/numerals.lexc -text
dev/numerals/numerals.twol -text
dev/numerals/numerals.txt -text
dev/numerals/numerals.yaml -text
dev/numerals/percents.yaml -text
dev/transliterate/Makefile -text
dev/transliterate/ara-kaz.twol -text
dev/transliterate/cyr-ara.sh -text
dev/transliterate/cyr-ara.twol -text
dev/transliterate/fix-kazakh.sh -text
dev/transliterate/lat-kaz.twol -text
dev/transliterate/test-compose-intersect.sh -text
dev/transliterate/test.sh -text
eval/Makefile -text
eval/evaluate-morph.py -text
eval/ref.1000.txt -text
eval/src.1000.txt -text svneol=unset#application/octet-stream
expanded/README -text
expanded/current-state.txt.gz -text svneol=unset#unset
expanded/previous-state.txt.gz -text svneol=unset#unset
/kaz.prob -text
/modes.xml -text
/qa.sh -text
speller/editdist.default.txt -text
speller/index.xml -text
speller/strings.default.txt -text
speller/words.default.txt -text
test-scripts/cg.test -text
test-scripts/kaz.test -text
tests/cg/corpus.kaz.disambiguated.txt -text
tests/morphophonology/epentheticV.yaml -text
tests/morphophonology/gk.yaml -text
tests/morphophonology/miscphon.yaml -text
tests/morphophonology/pxcompounds.yaml -text
tests/morphophonology/ui.yaml -text
tests/morphophonology/ya.yaml -text
tests/morphotactics/A1.txt.gz -text svneol=unset#unset
tests/morphotactics/Makefile -text
tests/morphotactics/N1.txt.gz -text svneol=unset#unset
tests/morphotactics/NP-LAT.txt.gz -text
tests/morphotactics/PRON-REF.txt.gz -text
tests/morphotactics/PRON.txt.gz -text svneol=unset#unset
tests/morphotactics/README -text
tests/morphotactics/V-TV.txt.gz -text svneol=unset#unset
tests/morphotactics/kaz-eng/A1-1.txt.gz -text
tests/morphotactics/kaz-eng/N1-1.txt.gz -text
tests/morphotactics/kaz-eng/NP-LAT1.txt.gz -text
tests/morphotactics/kaz-eng/NUM.txt -text
tests/morphotactics/kaz-eng/NUM.txt.gz -text
tests/morphotactics/kaz-eng/PRON-REF-1.txt.gz -text
tests/morphotactics/kaz-eng/PRON.txt -text
tests/morphotactics/kaz-eng/PRON.txt.gz -text
tests/morphotactics/kaz-eng/V-TV1.txt.gz -text
tests/morphotactics/kaz-eng/cm.txt.gz -text
tests/morphotactics/kaz-eng/quio.txt.gz -text
tests/morphotactics/prefixes/A1.prefix.dix -text
tests/morphotactics/prefixes/N1.prefix.dix -text
tests/morphotactics/prefixes/NP-LAT.prefix.dix -text
tests/morphotactics/prefixes/PRON-REF.prefix.dix -text
tests/morphotactics/prefixes/PRON.prefix.dix -text
tests/morphotactics/prefixes/V-TV.prefix.dix -text
texts/Eurovision_ән_конкурсы_2010.tagged.txt -text
texts/LICENCE -text
texts/MANIFEST -text
texts/akorda-random.tagged.txt -text
texts/kaz-feats.tsv -text
texts/kdt.tagged.txt -text
texts/kdt/MANIFEST -text
texts/kdt/checking/0002.txt -text
texts/kdt/checking/0003.txt -text
texts/kdt/checking/0005.txt -text
texts/kdt/checking/0007.txt -text
texts/kdt/checking/0008.txt -text
texts/kdt/checking/0009.txt -text
texts/kdt/checking/0010.txt -text
texts/kdt/checking/0011.txt -text
texts/kdt/checking/0013.txt -text
texts/kdt/checking/0017.txt -text
texts/kdt/checking/0018.txt -text
texts/kdt/checking/0020.txt -text
texts/kdt/checking/0021.txt -text
texts/kdt/checking/0023.txt -text
texts/kdt/checking/0024.txt -text
texts/kdt/checking/0025.txt -text
texts/kdt/checking/0026.txt -text
texts/kdt/checking/0027.txt -text
texts/kdt/checking/0028.txt -text
texts/kdt/checking/0029.txt -text
texts/kdt/checking/0030.txt -text
texts/kdt/checking/0041.txt -text
texts/kdt/checking/0053.txt -text
texts/kdt/checking/0056.txt -text
texts/kdt/checking/0062.txt -text
texts/kdt/checking/0067.txt -text
texts/kdt/checking/0068.txt -text
texts/kdt/checking/0072.txt -text
texts/kdt/checking/0074.txt -text
texts/kdt/checking/0083.txt -text
texts/kdt/checking/0084.txt -text
texts/kdt/checking/0088.txt -text
texts/kdt/checking/0089.txt -text
texts/kdt/checking/0090.txt -text
texts/kdt/checking/0092.txt -text
texts/kdt/checking/0098.txt -text
texts/kdt/checking/0100.txt -text
texts/kdt/checking/0101.txt -text
texts/kdt/checking/0102.txt -text
texts/kdt/checking/0108.txt -text
texts/kdt/checking/0109.txt -text
texts/kdt/checking/0110.txt -text
texts/kdt/checking/0115.txt -text
texts/kdt/checking/0126.txt -text
texts/kdt/checking/0132.txt -text
texts/kdt/checking/0140.txt -text
texts/kdt/checking/0150.txt -text
texts/kdt/checking/0163.txt -text
texts/kdt/checking/0173.txt -text
texts/kdt/checking/0175.txt -text
texts/kdt/checking/0226.txt -text
texts/kdt/checking/0241.txt -text
texts/kdt/checking/0284.txt -text
texts/kdt/checking/0286.txt -text
texts/kdt/checking/0314.txt -text
texts/kdt/checking/0318.txt -text
texts/kdt/checking/0320.txt -text
texts/kdt/checking/0323.txt -text
texts/kdt/checking/0330.txt -text
texts/kdt/checking/0339.txt -text
texts/kdt/checking/0342.txt -text
texts/kdt/checking/0343.txt -text
texts/kdt/checking/0360.txt -text
texts/kdt/checking/0369.txt -text
texts/kdt/checking/0376.txt -text
texts/kdt/checking/0386.txt -text
texts/kdt/checking/0387.txt -text
texts/kdt/checking/0391.txt -text
texts/kdt/checking/0426.txt -text
texts/kdt/checking/0436.txt -text
texts/kdt/checking/0450.txt -text
texts/kdt/checking/0455.txt -text
texts/kdt/checking/0489.txt -text
texts/kdt/checking/0496.txt -text
texts/kdt/checking/0521.txt -text
texts/kdt/checking/0529.txt -text
texts/kdt/checking/0537.txt -text
texts/kdt/checking/0549.txt -text
texts/kdt/checking/0551.txt -text
texts/kdt/checking/0552.txt -text
texts/kdt/checking/0553.txt -text
texts/kdt/checking/0555.txt -text
texts/kdt/checking/0556.txt -text
texts/kdt/checking/0557.txt -text
texts/kdt/checking/0558.txt -text
texts/kdt/checking/0559.txt -text
texts/kdt/checking/0560.txt -text
texts/kdt/checking/0562.txt -text
texts/kdt/checking/0564.txt -text
texts/kdt/checking/0566.txt -text
texts/kdt/checking/0567.txt -text
texts/kdt/checking/0568.txt -text
texts/kdt/checking/0569.txt -text
texts/kdt/checking/0570.txt -text
texts/kdt/checking/0571.txt -text
texts/kdt/checking/0573.txt -text
texts/kdt/checking/0574.txt -text
texts/kdt/checking/0575.txt -text
texts/kdt/checking/0577.txt -text
texts/kdt/checking/0578.txt -text
texts/kdt/checking/0579.txt -text
texts/kdt/checking/0580.txt -text
texts/kdt/checking/0581.txt -text
texts/kdt/checking/0582.txt -text
texts/kdt/checking/0584.txt -text
texts/kdt/checking/0585.txt -text
texts/kdt/checking/0587.txt -text
texts/kdt/checking/0588.txt -text
texts/kdt/checking/0591.txt -text
texts/kdt/checking/0593.txt -text
texts/kdt/checking/0597.txt -text
texts/kdt/checking/0598.txt -text
texts/kdt/checking/0599.txt -text
texts/kdt/checking/0601.txt -text
texts/kdt/checking/0603.txt -text
texts/kdt/checking/0606.txt -text
texts/kdt/checking/0608.txt -text
texts/kdt/checking/0610.txt -text
texts/kdt/checking/0611.txt -text
texts/kdt/checking/0614.txt -text
texts/kdt/checking/0615.txt -text
texts/kdt/checking/0616.txt -text
texts/kdt/checking/0617.txt -text
texts/kdt/checking/0618.txt -text
texts/kdt/checking/0619.txt -text
texts/kdt/checking/0620.txt -text
texts/kdt/checking/0622.txt -text
texts/kdt/checking/0623.txt -text
texts/kdt/checking/0624.txt -text
texts/kdt/checking/0627.txt -text
texts/kdt/checking/0629.txt -text
texts/kdt/checking/0630.txt -text
texts/kdt/checking/0632.txt -text
texts/kdt/checking/0633.txt -text
texts/kdt/checking/0634.txt -text
texts/kdt/checking/0635.txt -text
texts/kdt/checking/0637.txt -text
texts/kdt/checking/0638.txt -text
texts/kdt/checking/0639.txt -text
texts/kdt/checking/0642.txt -text
texts/kdt/checking/0644.txt -text
texts/kdt/checking/0645.txt -text
texts/kdt/checking/0646.txt -text
texts/kdt/checking/0647.txt -text
texts/kdt/checking/0651.txt -text
texts/kdt/checking/0652.txt -text
texts/kdt/checking/0653.txt -text
texts/kdt/checking/0654.txt -text
texts/kdt/checking/0655.txt -text
texts/kdt/checking/0658.txt -text
texts/kdt/checking/0659.txt -text
texts/kdt/checking/0660.txt -text
texts/kdt/checking/0661.txt -text
texts/kdt/checking/0663.txt -text
texts/kdt/checking/0665.txt -text
texts/kdt/checking/0666.txt -text
texts/kdt/checking/0667.txt -text
texts/kdt/checking/0668.txt -text
texts/kdt/checking/0669.txt -text
texts/kdt/checking/0670.txt -text
texts/kdt/checking/0671.txt -text
texts/kdt/checking/0673.txt -text
texts/kdt/checking/0674.txt -text
texts/kdt/checking/0675.txt -text
texts/kdt/checking/0679.txt -text
texts/kdt/checking/0680.txt -text
texts/kdt/checking/0681.txt -text
texts/kdt/checking/0682.txt -text
texts/kdt/checking/0683.txt -text
texts/kdt/checking/0684.txt -text
texts/kdt/checking/0686.txt -text
texts/kdt/checking/0687.txt -text
texts/kdt/checking/0689.txt -text
texts/kdt/checking/0690.txt -text
texts/kdt/checking/0691.txt -text
texts/kdt/checking/0692.txt -text
texts/kdt/checking/0693.txt -text
texts/kdt/checking/0695.txt -text
texts/kdt/checking/0696.txt -text
texts/kdt/checking/0700.txt -text
texts/kdt/checking/0701.txt -text
texts/kdt/checking/0703.txt -text
texts/kdt/checking/0704.txt -text
texts/kdt/checking/0705.txt -text
texts/kdt/checking/0706.txt -text
texts/kdt/checking/0707.txt -text
texts/kdt/checking/0708.txt -text
texts/kdt/checking/0709.txt -text
texts/kdt/checking/0710.txt -text
texts/kdt/checking/0711.txt -text
texts/kdt/checking/0712.txt -text
texts/kdt/checking/0713.txt -text
texts/kdt/checking/0714.txt -text
texts/kdt/checking/0716.txt -text
texts/kdt/checking/0718.txt -text
texts/kdt/checking/0720.txt -text
texts/kdt/checking/0721.txt -text
texts/kdt/checking/0722.txt -text
texts/kdt/checking/0723.txt -text
texts/kdt/checking/0725.txt -text
texts/kdt/checking/0726.txt -text
texts/kdt/checking/0727.txt -text
texts/kdt/checking/0728.txt -text
texts/kdt/checking/0729.txt -text
texts/kdt/checking/0730.txt -text
texts/kdt/checking/0731.txt -text
texts/kdt/checking/0732.txt -text
texts/kdt/checking/0733.txt -text
texts/kdt/checking/0734.txt -text
texts/kdt/checking/0735.txt -text
texts/kdt/checking/0737.txt -text
texts/kdt/checking/0738.txt -text
texts/kdt/checking/0739.txt -text
texts/kdt/checking/0740.txt -text
texts/kdt/checking/0742.txt -text
texts/kdt/checking/0744.txt -text
texts/kdt/checking/0745.txt -text
texts/kdt/checking/0747.txt -text
texts/kdt/checking/0748.txt -text
texts/kdt/checking/0749.txt -text
texts/kdt/checking/0752.txt -text
texts/kdt/checking/0753.txt -text
texts/kdt/checking/0754.txt -text
texts/kdt/checking/0755.txt -text
texts/kdt/checking/0756.txt -text
texts/kdt/checking/0758.txt -text
texts/kdt/checking/0759.txt -text
texts/kdt/checking/0761.txt -text
texts/kdt/checking/0762.txt -text
texts/kdt/checking/0763.txt -text
texts/kdt/checking/0764.txt -text
texts/kdt/checking/0765.txt -text
texts/kdt/checking/0767.txt -text
texts/kdt/checking/0768.txt -text
texts/kdt/checking/0769.txt -text
texts/kdt/checking/0772.txt -text
texts/kdt/checking/0774.txt -text
texts/kdt/checking/0775.txt -text
texts/kdt/checking/0777.txt -text
texts/kdt/checking/0778.txt -text
texts/kdt/checking/0779.txt -text
texts/kdt/checking/0781.txt -text
texts/kdt/checking/0783.txt -text
texts/kdt/checking/0785.txt -text
texts/kdt/checking/0787.txt -text
texts/kdt/checking/0788.txt -text
texts/kdt/checking/0789.txt -text
texts/kdt/checking/0790.txt -text
texts/kdt/checking/0792.txt -text
texts/kdt/checking/0793.txt -text
texts/kdt/checking/0794.txt -text
texts/kdt/checking/0795.txt -text
texts/kdt/checking/0796.txt -text
texts/kdt/checking/0797.txt -text
texts/kdt/checking/0798.txt -text
texts/kdt/checking/0799.txt -text
texts/kdt/checking/0801.txt -text
texts/kdt/checking/0802.txt -text
texts/kdt/checking/0803.txt -text
texts/kdt/checking/0804.txt -text
texts/kdt/checking/0805.txt -text
texts/kdt/checking/0806.txt -text
texts/kdt/checking/0807.txt -text
texts/kdt/checking/0808.txt -text
texts/kdt/checking/0809.txt -text
texts/kdt/checking/0810.txt -text
texts/kdt/checking/0811.txt -text
texts/kdt/checking/0812.txt -text
texts/kdt/checking/0813.txt -text
texts/kdt/checking/0814.txt -text
texts/kdt/checking/0815.txt -text
texts/kdt/checking/0816.txt -text
texts/kdt/checking/0817.txt -text
texts/kdt/checking/0818.txt -text
texts/kdt/checking/0820.txt -text
texts/kdt/checking/0821.txt -text
texts/kdt/checking/0823.txt -text
texts/kdt/checking/0824.txt -text
texts/kdt/checking/0825.txt -text
texts/kdt/checking/0826.txt -text
texts/kdt/checking/0827.txt -text
texts/kdt/checking/0828.txt -text
texts/kdt/checking/0829.txt -text
texts/kdt/checking/0831.txt -text
texts/kdt/checking/0832.txt -text
texts/kdt/checking/0833.txt -text
texts/kdt/checking/0835.txt -text
texts/kdt/checking/0837.txt -text
texts/kdt/checking/0838.txt -text
texts/kdt/checking/0839.txt -text
texts/kdt/checking/0840.txt -text
texts/kdt/checking/0841.txt -text
texts/kdt/checking/0842.txt -text
texts/kdt/checking/0843.txt -text
texts/kdt/checking/0851.txt -text
texts/kdt/final/0001.txt -text
texts/kdt/final/0031.txt -text
texts/kdt/final/0033.txt -text
texts/kdt/final/0034.txt -text
texts/kdt/final/0035.txt -text
texts/kdt/final/0036.txt -text
texts/kdt/final/0042.txt -text
texts/kdt/final/0043.txt -text
texts/kdt/final/0044.txt -text
texts/kdt/final/0045.txt -text
texts/kdt/final/0047.txt -text
texts/kdt/final/0049.txt -text
texts/kdt/final/0052.txt -text
texts/kdt/final/0054.txt -text
texts/kdt/final/0058.txt -text
texts/kdt/final/0059.txt -text
texts/kdt/final/0060.txt -text
texts/kdt/final/0061.txt -text
texts/kdt/final/0063.txt -text
texts/kdt/final/0064.txt -text
texts/kdt/final/0069.txt -text
texts/kdt/final/0076.txt -text
texts/kdt/final/0082.txt -text
texts/kdt/final/0085.txt -text
texts/kdt/final/0086.txt -text
texts/kdt/final/0087.txt -text
texts/kdt/final/0091.txt -text
texts/kdt/final/0093.txt -text
texts/kdt/final/0097.txt -text
texts/kdt/final/0099.txt -text
texts/kdt/final/0105.txt -text
texts/kdt/final/0106.txt -text
texts/kdt/final/0107.txt -text
texts/kdt/final/0111.txt -text
texts/kdt/final/0112.txt -text
texts/kdt/final/0113.txt -text
texts/kdt/final/0114.txt -text
texts/kdt/final/0117.txt -text
texts/kdt/final/0118.txt -text
texts/kdt/final/0119.txt -text
texts/kdt/final/0120.txt -text
texts/kdt/final/0123.txt -text
texts/kdt/final/0124.txt -text
texts/kdt/final/0125.txt -text
texts/kdt/final/0127.txt -text
texts/kdt/final/0129.txt -text
texts/kdt/final/0130.txt -text
texts/kdt/final/0131.txt -text
texts/kdt/final/0133.txt -text
texts/kdt/final/0134.txt -text
texts/kdt/final/0135.txt -text
texts/kdt/final/0136.txt -text
texts/kdt/final/0137.txt -text
texts/kdt/final/0138.txt -text
texts/kdt/final/0139.txt -text
texts/kdt/final/0141.txt -text
texts/kdt/final/0142.txt -text
texts/kdt/final/0143.txt -text
texts/kdt/final/0145.txt -text
texts/kdt/final/0148.txt -text
texts/kdt/final/0149.txt -text
texts/kdt/final/0151.txt -text
texts/kdt/final/0152.txt -text
texts/kdt/final/0154.txt -text
texts/kdt/final/0155.txt -text
texts/kdt/final/0159.txt -text
texts/kdt/final/0166.txt -text
texts/kdt/final/0167.txt -text
texts/kdt/final/0168.txt -text
texts/kdt/final/0169.txt -text
texts/kdt/final/0170.txt -text
texts/kdt/final/0172.txt -text
texts/kdt/final/0176.txt -text
texts/kdt/final/0177.txt -text
texts/kdt/final/0178.txt -text
texts/kdt/final/0181.txt -text
texts/kdt/final/0182.txt -text
texts/kdt/final/0183.txt -text
texts/kdt/final/0184.txt -text
texts/kdt/final/0185.txt -text
texts/kdt/final/0188.txt -text
texts/kdt/final/0189.txt -text
texts/kdt/final/0190.txt -text
texts/kdt/final/0191.txt -text
texts/kdt/final/0194.txt -text
texts/kdt/final/0199.txt -text
texts/kdt/final/0200.txt -text
texts/kdt/final/0203.txt -text
texts/kdt/final/0205.txt -text
texts/kdt/final/0206.txt -text
texts/kdt/final/0207.txt -text
texts/kdt/final/0208.txt -text
texts/kdt/final/0209.txt -text
texts/kdt/final/0212.txt -text
texts/kdt/final/0213.txt -text
texts/kdt/final/0217.txt -text
texts/kdt/final/0220.txt -text
texts/kdt/final/0223.txt -text
texts/kdt/final/0224.txt -text
texts/kdt/final/0225.txt -text
texts/kdt/final/0229.txt -text
texts/kdt/final/0233.txt -text
texts/kdt/final/0234.txt -text
texts/kdt/final/0235.txt -text
texts/kdt/final/0236.txt -text
texts/kdt/final/0237.txt -text
texts/kdt/final/0238.txt -text
texts/kdt/final/0239.txt -text
texts/kdt/final/0243.txt -text
texts/kdt/final/0245.txt -text
texts/kdt/final/0247.txt -text
texts/kdt/final/0251.txt -text
texts/kdt/final/0254.txt -text
texts/kdt/final/0256.txt -text
texts/kdt/final/0257.txt -text
texts/kdt/final/0258.txt -text
texts/kdt/final/0259.txt -text
texts/kdt/final/0260.txt -text
texts/kdt/final/0262.txt -text
texts/kdt/final/0263.txt -text
texts/kdt/final/0264.txt -text
texts/kdt/final/0265.txt -text
texts/kdt/final/0266.txt -text
texts/kdt/final/0271.txt -text
texts/kdt/final/0272.txt -text
texts/kdt/final/0274.txt -text
texts/kdt/final/0275.txt -text
texts/kdt/final/0277.txt -text
texts/kdt/final/0278.txt -text
texts/kdt/final/0279.txt -text
texts/kdt/final/0282.txt -text
texts/kdt/final/0283.txt -text
texts/kdt/final/0292.txt -text
texts/kdt/final/0297.txt -text
texts/kdt/final/0298.txt -text
texts/kdt/final/0299.txt -text
texts/kdt/final/0300.txt -text
texts/kdt/final/0301.txt -text
texts/kdt/final/0302.txt -text
texts/kdt/final/0303.txt -text
texts/kdt/final/0307.txt -text
texts/kdt/final/0308.txt -text
texts/kdt/final/0310.txt -text
texts/kdt/final/0311.txt -text
texts/kdt/final/0315.txt -text
texts/kdt/final/0316.txt -text
texts/kdt/final/0317.txt -text
texts/kdt/final/0319.txt -text
texts/kdt/final/0324.txt -text
texts/kdt/final/0325.txt -text
texts/kdt/final/0326.txt -text
texts/kdt/final/0327.txt -text
texts/kdt/final/0328.txt -text
texts/kdt/final/0331.txt -text
texts/kdt/final/0332.txt -text
texts/kdt/final/0333.txt -text
texts/kdt/final/0335.txt -text
texts/kdt/final/0336.txt -text
texts/kdt/final/0337.txt -text
texts/kdt/final/0345.txt -text
texts/kdt/final/0346.txt -text
texts/kdt/final/0347.txt -text
texts/kdt/final/0348.txt -text
texts/kdt/final/0349.txt -text
texts/kdt/final/0351.txt -text
texts/kdt/final/0352.txt -text
texts/kdt/final/0356.txt -text
texts/kdt/final/0357.txt -text
texts/kdt/final/0358.txt -text
texts/kdt/final/0359.txt -text
texts/kdt/final/0362.txt -text
texts/kdt/final/0364.txt -text
texts/kdt/final/0365.txt -text
texts/kdt/final/0366.txt -text
texts/kdt/final/0367.txt -text
texts/kdt/final/0370.txt -text
texts/kdt/final/0374.txt -text
texts/kdt/final/0377.txt -text
texts/kdt/final/0378.txt -text
texts/kdt/final/0379.txt -text
texts/kdt/final/0380.txt -text
texts/kdt/final/0381.txt -text
texts/kdt/final/0382.txt -text
texts/kdt/final/0383.txt -text
texts/kdt/final/0384.txt -text
texts/kdt/final/0385.txt -text
texts/kdt/final/0388.txt -text
texts/kdt/final/0389.txt -text
texts/kdt/final/0392.txt -text
texts/kdt/final/0393.txt -text
texts/kdt/final/0394.txt -text
texts/kdt/final/0396.txt -text
texts/kdt/final/0397.txt -text
texts/kdt/final/0400.txt -text
texts/kdt/final/0406.txt -text
texts/kdt/final/0407.txt -text
texts/kdt/final/0411.txt -text
texts/kdt/final/0414.txt -text
texts/kdt/final/0416.txt -text
texts/kdt/final/0421.txt -text
texts/kdt/final/0427.txt -text
texts/kdt/final/0428.txt -text
texts/kdt/final/0429.txt -text
texts/kdt/final/0430.txt -text
texts/kdt/final/0432.txt -text
texts/kdt/final/0433.txt -text
texts/kdt/final/0434.txt -text
texts/kdt/final/0438.txt -text
texts/kdt/final/0439.txt -text
texts/kdt/final/0440.txt -text
texts/kdt/final/0441.txt -text
texts/kdt/final/0443.txt -text
texts/kdt/final/0444.txt -text
texts/kdt/final/0446.txt -text
texts/kdt/final/0449.txt -text
texts/kdt/final/0451.txt -text
texts/kdt/final/0452.txt -text
texts/kdt/final/0453.txt -text
texts/kdt/final/0454.txt -text
texts/kdt/final/0456.txt -text
texts/kdt/final/0457.txt -text
texts/kdt/final/0458.txt -text
texts/kdt/final/0459.txt -text
texts/kdt/final/0463.txt -text
texts/kdt/final/0464.txt -text
texts/kdt/final/0465.txt -text
texts/kdt/final/0466.txt -text
texts/kdt/final/0467.txt -text
texts/kdt/final/0468.txt -text
texts/kdt/final/0469.txt -text
texts/kdt/final/0471.txt -text
texts/kdt/final/0472.txt -text
texts/kdt/final/0473.txt -text
texts/kdt/final/0476.txt -text
texts/kdt/final/0478.txt -text
texts/kdt/final/0479.txt -text
texts/kdt/final/0482.txt -text
texts/kdt/final/0484.txt -text
texts/kdt/final/0485.txt -text
texts/kdt/final/0486.txt -text
texts/kdt/final/0487.txt -text
texts/kdt/final/0490.txt -text
texts/kdt/final/0492.txt -text
texts/kdt/final/0494.txt -text
texts/kdt/final/0497.txt -text
texts/kdt/final/0499.txt -text
texts/kdt/final/0501.txt -text
texts/kdt/final/0502.txt -text
texts/kdt/final/0503.txt -text
texts/kdt/final/0504.txt -text
texts/kdt/final/0505.txt -text
texts/kdt/final/0506.txt -text
texts/kdt/final/0507.txt -text
texts/kdt/final/0508.txt -text
texts/kdt/final/0509.txt -text
texts/kdt/final/0510.txt -text
texts/kdt/final/0511.txt -text
texts/kdt/final/0512.txt -text
texts/kdt/final/0513.txt -text
texts/kdt/final/0514.txt -text
texts/kdt/final/0515.txt -text
texts/kdt/final/0516.txt -text
texts/kdt/final/0517.txt -text
texts/kdt/final/0518.txt -text
texts/kdt/final/0519.txt -text
texts/kdt/final/0520.txt -text
texts/kdt/final/0521.txt -text
texts/kdt/final/0522.txt -text
texts/kdt/final/0524.txt -text
texts/kdt/final/0525.txt -text
texts/kdt/final/0526.txt -text
texts/kdt/final/0528.txt -text
texts/kdt/final/0531.txt -text
texts/kdt/final/0532.txt -text
texts/kdt/final/0533.txt -text
texts/kdt/final/0534.txt -text
texts/kdt/final/0535.txt -text
texts/kdt/final/0536.txt -text
texts/kdt/final/0539.txt -text
texts/kdt/final/0540.txt -text
texts/kdt/final/0541.txt -text
texts/kdt/final/0543.txt -text
texts/kdt/final/0546.txt -text
texts/kdt/final/0846.txt -text
texts/kdt/final/0847.txt -text
texts/kdt/final/0848.txt -text
texts/kdt/final/0849.txt -text
texts/kdt/final/0850.txt -text
texts/puupankki/puupankki.kaz.conllu -text
texts/puupankki/puupankki.kaz.conllx -text
texts/sholpan/_sholpan_001_01.parsed.txt -text
texts/sholpan/_sholpan_001_02.parsed.txt -text
texts/sholpan/_sholpan_001_03.parsed.txt -text
texts/sholpan/_sholpan_001_04.parsed.txt -text
texts/sholpan/_sholpan_001_05.parsed.txt -text
texts/sholpan/_sholpan_001_06.parsed.txt -text
texts/sholpan/_sholpan_001_215.tagged.txt -text
texts/sholpan/_sholpan_002_07.parsed.txt -text
texts/sholpan/_sholpan_002_182.tagged.txt -text
texts/sholpan/_sholpan_003_98.tagged.txt -text
texts/sholpan/_sholpan_004_108.tagged.txt -text
texts/sholpan/_sholpan_005_195.tagged.txt -text
texts/sholpan/_sholpan_006_109.tagged.txt -text
texts/sholpan/_sholpan_007_118.tagged.txt -text
texts/sholpan/_sholpan_008_88.tagged.txt -text
texts/sholpan/_sholpan_009_82.tagged.txt -text
texts/sholpan/_sholpan_010_90.tagged.txt -text
texts/sholpan/_sholpan_011_84.tagged.txt -text
texts/sholpan/_sholpan_012_113.tagged.txt -text
texts/sholpan/_sholpan_013_112.tagged.txt -text
texts/sholpan/_sholpan_014_90.tagged.txt -text
texts/sholpan/_sholpan_015_145.tagged.txt -text
texts/sholpan/_sholpan_016_112.tagged.txt -text
texts/sholpan/_sholpan_017_100.tagged.txt -text
texts/sholpan/_sholpan_018_74.tagged.txt -text
texts/sholpan/_sholpan_019_75.tagged.txt -text
texts/sholpan/_sholpan_020_72.tagged.txt -text
texts/sholpan/_sholpan_021_101.tagged.txt -text
texts/sholpan/_sholpan_022_75.tagged.txt -text
texts/sholpan/_sholpan_023_56.tagged.txt -text
texts/sholpan/_sholpan_024_120.tagged.txt -text
texts/sholpan/_sholpan_025_71.tagged.txt -text
texts/sholpan/_sholpan_026_67.tagged.txt -text
texts/sholpan/_sholpan_027_113.tagged.txt -text
texts/sholpan/_sholpan_028_66.tagged.txt -text
texts/sholpan/_sholpan_029_53.tagged.txt -text
texts/sholpan/_sholpan_030_60.tagged.txt -text
texts/sholpan/_sholpan_031_53.tagged.txt -text
texts/sholpan/_sholpan_032_85.tagged.txt -text
texts/sholpan/_sholpan_033_88.tagged.txt -text
texts/sholpan/_sholpan_034_91.tagged.txt -text
texts/sholpan/_sholpan_035_88.tagged.txt -text
texts/sholpan/_sholpan_036_67.tagged.txt -text
texts/sholpan/_sholpan_037_79.tagged.txt -text
texts/sholpan/_sholpan_038_86.tagged.txt -text
texts/sholpan/_sholpan_039_86.tagged.txt -text
texts/sholpan/_sholpan_040_60.tagged.txt -text
texts/sholpan/_sholpan_041_69.tagged.txt -text
texts/sholpan/_sholpan_042_73.tagged.txt -text
texts/sholpan/_sholpan_043_79.tagged.txt -text
texts/sholpan/_sholpan_044_79.tagged.txt -text
texts/sholpan/_sholpan_045_62.tagged.txt -text
texts/sholpan/_sholpan_046_74.tagged.txt -text
texts/sholpan/_sholpan_047_75.tagged.txt -text
texts/sholpan/_sholpan_048_60.tagged.txt -text
texts/sholpan/_sholpan_049_64.tagged.txt -text
texts/sholpan/_sholpan_050_56.tagged.txt -text
texts/sholpan/_sholpan_051_125.tagged.txt -text
texts/sholpan/_sholpan_052_60.tagged.txt -text
texts/sholpan/_sholpan_053_58.tagged.txt -text
texts/sholpan/_sholpan_054_119.tagged.txt -text
texts/sholpan/_sholpan_055_64.tagged.txt -text
texts/sholpan/_sholpan_056_80.tagged.txt -text
texts/story.tagged.txt -text
texts/texts1/Eurovision_ән_конкурсы_2010.tagged.vislcg.txt -text
texts/texts1/Абай_Құнанбайұлы.tagged.vislcg.txt -text
texts/texts1/Біріккен_Ұлттар_Ұйымы.tagged.vislcg.txt -text
texts/texts1/Жапония.tagged.vislcg.txt -text
texts/texts1/Жапония_Ұлттық_футбол_құрама_командасы.tagged.vislcg.txt -text
texts/texts1/Жасуша.tagged.vislcg.txt -text
texts/texts1/Иран.tagged.vislcg.txt -text
texts/texts1/Радиан.tagged.vislcg.txt -text
texts/texts1/Футболдан_әлем_чемпионаты_2014.tagged.vislcg.txt -text
texts/texts1/Шоқан_Шыңғысұлы_Уәлиханов.tagged.vislcg.txt -text
texts/texts2/Ахмет_Байтұрсынұлы.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Ахмет_Байтұрсынұлы.tagged.Aidana.txt -text
texts/texts2/Ахмет_Байтұрсынұлы.tagged.Dina.txt -text
texts/texts2/Ахмет_Байтұрсынұлы.tagged.clean.txt -text
texts/texts2/Ахмет_Байтұрсынұлы.vislcg.txt -text
texts/texts2/Махамбет_Өтемісұлы.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Махамбет_Өтемісұлы.tagged.Aidana.txt -text
texts/texts2/Махамбет_Өтемісұлы.tagged.Dina.txt -text
texts/texts2/Махамбет_Өтемісұлы.tagged.clean.txt -text
texts/texts2/Махамбет_Өтемісұлы.vislcg.txt -text
texts/texts2/Міржақып_Дулатұлы.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Міржақып_Дулатұлы.tagged.Aidana.txt -text
texts/texts2/Міржақып_Дулатұлы.tagged.Dina.txt -text
texts/texts2/Міржақып_Дулатұлы.tagged.clean.txt -text
texts/texts2/Міржақып_Дулатұлы.vislcg.txt -text
texts/texts2/Мұхтар_Омарханұлы_Әуезов.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Мұхтар_Омарханұлы_Әуезов.tagged.Aidana.txt -text
texts/texts2/Мұхтар_Омарханұлы_Әуезов.tagged.Dina.txt -text
texts/texts2/Мұхтар_Омарханұлы_Әуезов.tagged.clean.txt -text
texts/texts2/Мұхтар_Омарханұлы_Әуезов.vislcg.txt -text
texts/texts2/Мұқағали_Сүлейменұлы_Мақатаев.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Мұқағали_Сүлейменұлы_Мақатаев.tagged.Aidana.txt -text
texts/texts2/Мұқағали_Сүлейменұлы_Мақатаев.tagged.Dina.txt -text
texts/texts2/Мұқағали_Сүлейменұлы_Мақатаев.tagged.clean.txt -text
texts/texts2/Мұқағали_Сүлейменұлы_Мақатаев.vislcg.txt -text
texts/texts2/Ыбырай_Алтынсарин.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Ыбырай_Алтынсарин.tagged.Aidana.txt -text
texts/texts2/Ыбырай_Алтынсарин.tagged.Dina.txt -text
texts/texts2/Ыбырай_Алтынсарин.tagged.clean.txt -text
texts/texts2/Ыбырай_Алтынсарин.vislcg.txt -text
texts/texts2/Қазақстан.raw.txt -text svneol=unset#application/octet-stream
texts/texts2/Қазақстан.tagged.Aidana.txt -text
texts/texts2/Қазақстан.tagged.Dina.txt -text
texts/texts2/Қазақстан.tagged.clean.txt -text
texts/texts2/Қазақстан.vislcg.txt -text
texts/udhr.tagged.txt -text
texts/wikipedia-news.tagged.txt -text
texts/wikipedia.tagged.txt -text
texts/wikitravel.tagged.txt -text
texts/Ер_Төстік.tagged.txt -text
texts/Жиырма_Бесінші_Сөз.tagged.txt -text
texts/Иран.tagged.txt -text
texts/Махамбет_Өтемісұлы.tagged.txt -text
texts/Радиан.tagged.txt -text
texts/Футболдан_әлем_чемпионаты_2014.tagged.txt -text
texts/Шымкент.tagged.txt -text
texts/әртүрлі.tagged.txt -text
texts/Өлген_қазан.tagged.txt -text
/wiki-tests.sh -text
