/.deps
/3
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-kaz.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/kaz.autogen.att.gz
/kaz.autogen.bin
/kaz.autogen.hfst
/kaz.automorf.att.gz
/kaz.automorf.bin
/kaz.automorf.hfst
/kaz.rlx.bin
/kaz.zhfst
/missing
/modes
/tests/morphotactics/*.txt.gz
