/.deps
/3
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/apertium-kaz.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/kaz.zhfst
/missing
/modes
/tests/morphotactics/*.txt.gz
/ap_include.am
/kaz.autopgen.bin
/*.bin
/*.hfst
/*.att.gz
